/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variabel Warna */
:root {
    --bg_utama : #021526;
    --bg_kedua : #6EACDA;
}

/* Global Style */
* {
    font-family: roboto;
    box-sizing: border-box;
}

/* Style Body */
body {
    display: flex;
    margin-top: 5rem;
    background-color: var(--bg_utama);
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Style main */
main {
    padding: 2rem;
    margin-top: 5rem;
    text-align: center;
    justify-items: center;
    justify-content: center;
    
}

/* Box Container */
.box_container {
    background-color: transparent;
    border-radius: 1rem;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}

/* Navbar Style */
.navbar {
    position: fixed;
    width: 100%;
    background: var(--bg_kedua);
    top: 0;
    left: 0;
    padding-left: 3rem;
    margin-bottom: 12rem;
    align-items: center;
    display: flex;
}

.navbar p {
    color: var(--bg_utama);
    background-color: var(--bg_kedua);
    font-size: large;
    font-weight: 600;
}

/* Box2 Style */
main .box2 {
    background-color: var(--bg_kedua);
    color: var(--bg_utama);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.header_title h1 {
    color: var(--bg_kedua);
}


/* Button Style */
button {
    margin-top: .5rem;
    background-color: var(--bg_kedua);
    color: var(--bg_utama);
    padding: .5rem;
    margin-left: .5rem;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--bg_utama);
    border: solid var(--bg_kedua);
    color: white;
}

#reverse a {
    text-decoration: none;
    color: var(--bg_utama);
}

#reverse a:hover {
    background-color: var(--bg_utama);
    border: solid var(--bg_kedua);
    color: white;
}

textarea {
    width: 400px;
    height: 80px;
    margin-top: 1rem;
}

.textarea, #input_suhu, #hasil_suhu, #kalkulasi {
    color: black;
}

.box1 article, label {
    color: white;
}

.suhu_simbol {
    font-family: math;
    font-style: italic;
}

/* Footer Style */
footer {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg_kedua);
    color: var(--bg_utama);
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    position: relative;
    font-weight: 500;
}

/* Tampilan Responsive */
/* Layar 900 */
@media (max-width: 900px) {
    html {
        font-size: 82.5%;
    }

    .navbar p {
        font-size: 100%;
    }
}


/* Layar 768 */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .navbar p {
        font-size: 100%;
    }
}

/* Layar 870 */
@media (max-width: 670px) {
    html {
        font-size: 62.5%;
    }

    textarea {
        width: 60%;
    }

    .navbar p {
        font-size: 100%;
    }
}

/* Layar 560 */
@media (max-width: 560px) {
    html {
        font-size: 52.5%;
    }

    body {
        margin-top: 3rem;
    }

    .box_container {
        margin-top: .5rem;
    }

    textarea {
        width: 60%;
    }

    .navbar p {
        font-size: 100%;
    }
}

/* Layar 400 */
@media (max-width: 400px) {
    html {
        font-size: 42.5%;
    }

    body {
        margin-top: .5rem;
    }

    .box_container {
        margin-top: 10px;
    }

    textarea {
        width: 60%;
    }

    .navbar p {
        font-size: 100%;
    }
}

/* Layar 360 */
@media (max-width: 400px) {
    html {
        font-size: 40%;
    }

    .box_container {
        margin-top: 5px;
    }

    textarea {
        width: 60%;
    }

    .navbar p {
        font-size: 100%;
    }
}

/* Layar 260 */
@media (max-width: 260px) {
    html {
        font-size: 32.5%;
    }

    textarea {
        width: 60%;
    }

    .navbar p {
        font-size: 100%;
    }
}